* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

body {
    background-color: aquamarine;
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 0;
}